<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>BOAS PESSOAL DAQUI FALA O FEROMOAS</h1>
    <form action="/weather">
        <input type="text" name="texto">
        <button type="submit">Send!</button>
    </form>


<script src="pedidos.js"></script>
</body>
</html>